{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon compte{% endblock %}

{% block body %}
<section class="container">
    <div class="d-flex flex-column align-items-center">
        <h1>{{ 'Mon compte'|trans }}</h1>
        <h2 class="text-light">" {{ app.user.email }} "</h2>
    </div>

</section>
{% endblock %}
