{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>{{ 'Créer une nouvelle saison'|trans }}</h1>

    <div class="my-2">
        {{ include('season/_form_comment.html.twig') }}
    </div>

    <div class="my-2">
        <a href="{{ path('season_index') }}">{{ 'Retour'|trans }}</a>
    </div>
</div>
{% endblock %}
