@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "navbar.scss";

body {
    background-color: $dark;
}

.table {
    color: $light;
}

h1 {
    font-family: $title-font;
    color: $primary;
    text-align: center;
    margin: $spacing-2 0;
}

h2, h3, h4, h5, h6, a, button {
     font-family: $title-font;
}

p {
    font-family: $p-font;
    font-size: $p-size;
}

.label-category {
    margin: 0 $spacing 0 0;
}

.media {
    color: $light;
}

.img-series-show {
    max-height : 75vh;
    margin-right: $spacing-2;
}

.back {
    margin : $spacing-4;
}

.black-mirror {
    box-sizing: border-box;
    width: 75vw;
    border: 2px solid $secondary;
    margin: 20px 0 50px 0;
    box-shadow: 30px 15px 2px $primary, -30px -15px 2px red;
}
