@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "navbar.scss";

body {
    background-color: $dark;
}

.table {
    color: $light;
}

h1 {
    font-family: $title-font;
    color: $primary;
    text-align: center;
    margin: $spacing-2 0;
}

h2, h3, h4, h5, h6, a, button {
     font-family: $title-font;
}

p {
    font-family: $p-font;
    font-size: $p-size;
}

.label-category {
    margin: 0 $spacing 0 0;
}

.media {
    color: $light;
}

.img-series-show {
    max-height : 75vh;
    margin-right: $spacing-2;
}

.back {
    margin : $spacing-4;
}

.black-mirror {
    box-sizing: border-box;
    width: 75vw;
    border: 2px solid $secondary;
    margin: 20px 0 50px 0;
    box-shadow: 30px 15px 2px $primary, -30px -15px 2px red;
}

.hover:hover {
    background-color: $light;
    color: $dark
}


//-----------------------


.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lighten($dark, 10%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: $dark;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: $primary;
    color: $dark;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #d0a423;
}
