{% extends 'base.html.twig' %}
{%  block body %}
    <h1>Bienvenido chico sobre nuestro sitio " {{ website }} "</h1>

    <section class="text-center">
        <img class="black-mirror" src="https://statics.lesinrocks.com/content/thumbs/uploads/2017/12/width-1125-height-612-quality-10/black-mirror-season-4-uss-callister.jpg" alt="">
    </section>
{% endblock %}
