<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="text-center">{% block titleEmail %}{% endblock %}</h1>
    </div>
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
