{%  extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('test') }}
{% endblock %}

{% block body %}
<h1>Voici notre site {{ website }}</h1>
    <a href="/">Salut</a>
    <a href="/">Salut</a>
    <a href="/">Salut</a>
    <a href="/">Salut</a>
{% endblock %}


